<div id="container">

  <% if current_user %>
    <p><%= form_for Post.new, :remote => true do |f| %></p>
	<%= f.text_field :story %>
	<%= f.submit %>
      <%end%>
  <%end%>

  <% unless user_signed_in? %>
    <%= render :partial => "login"%>
  <%end%>

  <div id="postlist" > 
    
    <% @posts.each do |s| %>
      <div id="post">
	<p id="title">Title: <%= s.title.titleize if s.title%></p>
	<p id="post"><%= s.story %></p><br />
      
	<div id="hinds" >
	    <p id="hinds">Subjects:
	    <% s.hinds.each do |h|%>
	      <%= h.subject + " " %>
	    <%end%>
	    </p>
	</div>
	<p id="author">By: <%= s.user.name %></p>
	
	  
      </div>
    <%end%>
  
  </div>



</div>
