<div id="container">

<% if current_user %>
  <p><%= form_for Post.new, :remote => true do |f| %></p>
      <%= f.text_field :story %>
      <%= f.submit %>
     <%end%>
<%end%>

<% unless user_signed_in? %>
  <div id="logincontainer">
	<%= form_for "user", :url => user_session_path do |f| %>
	  <div class="txt-fld">
	    <%= f.label :email %>
	    <%= f.text_field :email %>
	  <div style="clear:both"></div>
	</div>
	  <div class="txt-fld">
	    <%= f.label :password %>
	    <%= f.password_field :password %>
	  <div style="clear:both"></div>
	  </div>
	  <div class="btn-fld">
	    <%= f.label :remember_me %>
	    <%= f.check_box :remember_me %>
	    <%= f.submit "Login" %>
	    <%= link_to "Recover my password", new_user_password_path, :id => "recover" %>  
	  <div style="clear:both"></div>
	  </div>
	<% end %>
      </div>
<%end%>

  <div id="postlist" > 
    
    <% @posts.each do |s| %>
      <div id="post">
	<p id="title">Title: <%= s.title.titleize if s.title%></p>
	<p id="post"><%= s.story %></p><br />
      
	<div id="hinds" >
	    <p id="hinds">Subjects:
	    <% s.hinds.each do |h|%>
	      <%= h.subject + " " %>
	    <%end%>
	    </p>
	</div>
	<p id="author">By: <%= s.user.name %></p>
	
	  
      </div>
    <%end%>
  
  </div>



</div>
