<div id="container">
  <% if current_user %>
  <%= link_to "Post", '#', :id => "toggle"%>
  <div id="newpost" style="display:none"><%= render :partial => 'posts/new'%></div>
  <%end%>
  <% unless user_signed_in? %>
    <%= render :partial => "login"%>
  <%end%>
  <div id="postlist" > 
    <% @posts.each do |s| %>
      <div id="post">
	<p id="title">Title: <%= s.title.titleize if s.title%></p>
	<p id="post"><%= s.story.truncate(50) %></p><br />
	<div id="hinds" >
	    <p id="hinds">Subjects:
	    <% s.hinds.each do |h|%>
	      <%= h.subject + " " %>
	    <%end%>
	    </p>
	</div>
	<p id="author">By: <%= link_to s.author, user_path(s.user_id) %></p>
      </div>
    <%end%>
  </div>
</div>

<script type="text/javascript">

$("#toggle").click(function() {
   $("#postlist").hide("slide", { direction: "left" }, 1000);
   $("#newpost").fadeIn(4000, "linear");

});
</script>